* {
  box-sizing: border-box;
}

.App {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.App .column {
  width: 15%;
}

.droppable-col {
  width: 100%;
  background-color: gray;
  padding: 10px 10px 0 10px;
  /* margin: 10px 10px 0 10px; */
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  min-height: 300px;
}

.item {
  margin-bottom: 10px;
  font-size: 1.25rem;
  background-color: white;
  color: black;
  border: 1px solid white;
  padding: 5px;
  border-radius: 7px;
  min-height: 90px;
}

.item.dragging {
  background-color: coral;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.test {
}
